@import '../extensions/mixins';
@import '../base/color';
@import '../base/fonts';

.FAQs {
    display: flex;
    text-align: center;
    align-items: center;
    background-color: crimson;
    justify-content: center
}



.FAQsMain {
    background-color: white;
    padding: 2% 1% 3% 1%;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}


.FAQsQuestion {
    padding: 0 5%;
}

.accordion-button {
    @include botonOverride;
}

.accordion-body {
    @include texto;

}

@media only screen and (max-width: 767px) {    
    .accordion-collapse , .accordion-body {
        padding: 0;
    }
}

@media only screen and (min-width: 768px) {    
    .accordion-collapse , .accordion-body {
        padding: 0 10%;
    }
}

@media only screen and (max-width: 768px) {  
    .FAQsTitle {
        padding-top: 20px;            
    }
}




.accordion-collapse {
    padding: 0 5%;
}


