@import '../base/color';
@import '../base/fonts';


.footer1 {
    padding: 3% 0% 1% 0%;
    text-align: center;
    background-image: linear-gradient(to bottom, $color-strong, $color-normal);
} /*fondo*/

.footer1 .legalesLink {
    @include textitosA;
}


.footer1 {
    @include textitos;
}

.linkDark {
    font-family: $fuente;
    color: $color-strong;
    text-decoration: none;
    font-size: small;
    font-weight: $negrita;
    &:hover {
        color: $rosa;
    }
}


