@import '../extensions/mixins';
@import '../base/color';
@import '../base/fonts';

.nav-link {
    font-family: $fuente;
    letter-spacing: 1px;
    font-weight: 600;
}

.navJenny {
    background-image: linear-gradient(to bottom, $color-light, $color-strong);
}

