@import '../extensions/mixins';
@import '../base/color';
@import '../base/fonts';

.talleres { /* SOLO FONDO */
    padding: 5%;
    background-color: white;
    background-image: url(../media/Holly-Springs_Choosing-a-Pediatrician.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
}


.talleres-title {
    padding-top: 5vh;
}


.talleres-grid {
    padding-top: 2vh;
    background-color: $color-normal;
    padding-bottom: 1%;
    border-radius: 40px;  
}

.titlebg {
    background-color: $color-normal;
    padding: 4% 0 1% 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
    justify-content: center;
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 100px;
    width: 100px; 
    position: relative;
    bottom: 25%;    
}   

  .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ea1f47' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
   }
   
   .carousel-control-next-icon {
     
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ea1f47' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
   }

   .carouselFooter {
       padding: 5% 0;
       background-color: $color-normal;
       border-bottom-left-radius: 20px;
       border-bottom-right-radius: 20px;
   }

   .talleres-card {
        border-radius: 0px;
}
