@import '../extensions/mixins';
@import '../base/color';
@import '../base/fonts';

.turnosMain {
    background-color: $color-normal;
}

input, .form-select, .form-control {
    box-shadow: none;
}

.form-check-input {
    color: pink;
    background-color: pink;
}

.KontaktB {
    color: $blanco;
    background-color: $color-light;
    width: auto;
    margin: 0 auto;
    padding: 3%;
    margin: 2px solid $color-light;
    border-radius: 40px;
    &:hover {
        transition: background-color 1s;    
        background-color: $color-strong;
    }
}

@media only screen and (min-width: 767px) {    
    .KontaktB {
        font-size: larger;
    }
}

@media only screen and (max-width: 768px) {    
    .KontaktB {
        font-size: medium;
    }
}


.turnoPack:hover {
    background-color: $color-light;
}

.KontaktText {
    width: auto;
    margin: 0 auto;
    padding: 2% 0;
}

