@import '../extensions/mixins';
@import '../base/color';
@import '../base/fonts';

.turnosMain {
    background-color: $color-normal;
}

input, .form-select, .form-control {
    box-shadow: none;
}

.form-check-input {
    color: pink;
    background-color: pink;
}